/* Shared */
.chart {
  position: relative;
}

.chart .chart-svg {
  display: block;
  overflow: visible;
  max-width: 100%;
  height: auto;
}

.chart .is-clickable {
  cursor: pointer;
}

.chart .chart-tooltip {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.15s,
    visibility 0.15s;
}

.chart .chart-tooltip.is-visible {
  visibility: visible;
  opacity: 1;
}

.chart .zero-line,
.chart .axis line,
.chart .axis path {
  stroke: #e5e5e5;
}

.chart .axis text {
  font-size: 12px;
  fill: #666;
}

.chart .trend-line {
  stroke: #1e3a8a;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/* Scatter */
.scatter-chart .matrix-line {
  stroke: #c0c9d3;
  stroke-width: 1.25px;
}

.scatter-chart .tick-line {
  stroke: #e5e5e5;
}

.scatter-chart .grid-line {
  stroke: #e5e5e5;
}

.scatter-chart .dot-circle {
  fill: #6366f1;
}

.scatter-chart .dot-circle.is-active {
  stroke: #000;
  stroke-width: 1.5px;
}

.scatter-chart .dot-label-text {
  pointer-events: none;
  font-size: 12px;
  fill: #666;
}

.scatter-chart .matrix-rect {
  fill: #f9fafb;
}

/* Bar */
.bar-chart .bar-rect {
  fill: #6366f1;
}

.bar-chart .bar-rect.is-active {
  fill: #60a5fa;
}

/* Stacked Bar */
.stacked-bar-chart.stacked-bar-chart-spaced .bar-rect {
  stroke: #fff;
  stroke-width: 1px;
}

.stacked-bar-chart .bar-rect.is-active {
  opacity: 0.7;
}

/* Scatter Time */
.scatter-time-chart .benchmark-line {
  stroke: #c0c9d3;
  stroke-width: 1.75px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.scatter-time-chart .dot-circle {
  fill: #6366f1;
}

.scatter-time-chart .dot-circle.transparent {
  opacity: 0.2;
}

.scatter-time-chart .dot-circle.is-active {
  stroke: #000;
  stroke-width: 1.5px;
}

/* Line */
.line-chart .background-line {
  stroke: #6366f1;
  stroke-dasharray: 3 5;
  stroke-width: 1.75px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.line-chart .foreground-line {
  stroke: #6366f1;
  stroke-width: 1.75px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.line-chart .benchmark-background-line {
  stroke: #c0c9d3;
  stroke-dasharray: 2;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.line-chart .benchmark-foreground-line {
  stroke: #c0c9d3;
  stroke-width: 1.75px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.line-chart .dot-circle {
  fill: #60a5fa;
}

.line-chart .benchmark-dot-circle {
  fill: #c0c9d3;
}

.line-chart .focus-line {
  stroke: #bbb;
  stroke-dasharray: 1 2;
  stroke-width: 1px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.1s visibility 0.1s;
}

.line-chart .focus-line.has-ticks {
  stroke: #aaa;
  stroke-dasharray: 2 3;
}

.line-chart .focus-line.is-visible {
  visibility: visible;
  opacity: 1;
}

/* Multi-line Chart */
.multi-line-chart .line {
  stroke-width: 1.75px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.multi-line-chart .focus-line {
  stroke: #aaa;
  stroke-dasharray: 2 3;
  stroke-width: 1px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.1s visibility 0.1s;
}

.multi-line-chart .focus-line.is-visible {
  visibility: visible;
  opacity: 1;
}

.multi-line-chart .axis--y line {
  stroke-dasharray: 2 3;
}


/* Pie */
.pie-chart .arc-path {
  stroke: #fff;
}

.pie-chart .arc-path.is-active {
  stroke: #000;
  stroke-width: 1.5px;
}

.pie-chart .arc-label-text,
.pie-chart .arc-value-text {
  pointer-events: none;
  font-size: 12px;
  fill: currentColor;
}

.pie-chart .arc-label-polyline {
  stroke-width: 1px;
  stroke: #aaa;
}

/* Bump Chart */
.bump-chart .chart-svg {
  display: block;
  overflow: visible;
}

.bump-chart .axis {
  color: #666;
}

.bump-chart .axis--right--names {
  color: #000;
}

.bump-chart .axis text {
  font-size: 14px;
}

.bump-chart .axis--right--names text {
  cursor: default;
}

.bump-chart .link {
  fill: none;
}

.bump-chart .link__bg {
  stroke: #fff;
  stroke-width: 6px;
}

.bump-chart .link__fg {
  stroke-width: 2px;
}

.bump-chart .link__fg.is-flat,
.bump-chart .node__circle.is-flat {
  stroke: #bdbdbd;
}

.bump-chart .link__fg.is-up,
.bump-chart .node__circle.is-up {
  stroke: #00a8e8;
}

.bump-chart .link__fg.is-down,
.bump-chart .node__circle.is-down {
  stroke: #ed3b9c;
}

.bump-chart .node__circle {
  fill: #fff;
  stroke-width: 2px;
}

.bump-chart .link,
.bump-chart .node,
.bump-chart .tick {
  transition: opacity 0.15s;
}

.bump-chart .is-highlighting .is-muted {
  opacity: 0.1;
}

/* Stacked Area Chart */
.stacked-area-chart .stacked-area {
  stroke: #fff;
}

.stacked-area-chart .focus-line {
  stroke: #bbb;
  stroke-dasharray: 1 2;
  stroke-width: 1px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.1s visibility 0.1s;
}

.stacked-area-chart .focus-line.is-visible {
  visibility: visible;
  opacity: 1;
}
